.khan__book-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 68px;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
